





@scope(ds-select){

    :scope{
        width:var(--select-width);
        background:var(--select-title-background);
    }

    > ds-item{
        padding:10px;
        background:var(--select-item-background);
    }

    > ds-item:hover, > ds-item[selected="true"]{
        background:var(--select-item-hover-background);
    }

    > :not(ds-item){
        display:none;
    }

}



