


:root{
    
   /* ds-accordion */
   --accordion-item-title-background:rgb(240, 213, 38);
   --accordion-item-title-hover-background:rgb(222, 204, 91);
   --accordion-item-title-color:black;
   --accordion-item-title-font-weight:normal;
   --accordion-item-title-font-family:inherit;

   --accordion-item-content-background:rgb(230, 228, 220);
   --accordion-item-content-color:black;
   --accordion-item-content-height:100px;
   --accordion-item-content-font-weight:normal;
   --accordion-item-content-font-family:inherit;
   
   --accordion-item-separator-color:grey;


}