







@scope(.accordion){

   
    :scope{

        width:var(--accordion-width);
    }

    .accordion-item-content{
        margin:0px;
        height:0px;
        overflow-y:hidden;
        transition:all 0.5s;
        padding-inline:10px;
        padding-block:0px;
        font-family:var(--accordion-item-content-font-family);
        font-size:var(--accordion-item-content-font-size);
        color:var(--accordion-item-content-color);
        font-weight:var(--accordion-item-content-font-weight);
        background:var(--accordion-item-content-background);
    }

    .accordion-item{
        display:flex;
        flex-direction:column;
    }

    .accordion-item-title{
        cursor:pointer;
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:10px;
        font-family:var(--accordion-item-title-font-family);
        font-size:var(--accordion-item-title-font-size);
        color:var(--accordion-item-title-color);
        font-weight:var(--accordion-item-title-font-weight);
        background:var(--accordion-item-title-background);
       
    }

    .accordion-item:not(:last-child) .accordion-item-title{
        border-bottom:1px solid var(--accordion-item-separator-color);
    }

    .accordion-item-title::after{
        content:"";
        height:30px;
        width:30px;
        background:var(--accordion-item-title-color);
        mask-image:url("https://img.icons8.com/android/24/plus.png");
        mask-repeat:no-repeat;
        mask-position:center;
        mask-size:55%;
    }

    .accordion-item-title:hover{
        background:var( --accordion-item-title-hover-background);
    }

    .accordion-item[status="active"]  .accordion-item-content{
        height:var(--accordion-item-content-height);
        padding-block:10px;
    }

    .accordion-item[status="active"]  .accordion-item-title::after{
        mask-image:url("https://img.icons8.com/material-two-tone/24/minus--v1.png");
    }

    .accordion-item[status="active"] .accordion-item-title{
        border-bottom:0px;
    }



}



