


:root{
    
    --accordion-width:400px;
       
    --accordion-item-content-height:100px;
    --accordion-item-content-font-family:arial;
    --accordion-item-content-color:black;
    --accordion-item-content-font-size:1rem;
    --accordion-item-content-background:rgb(237, 237, 235);
    --accordion-item-content-font-weight:normal;

    --accordion-item-title-font-family:arial;
    --accordion-item-title-font-weight:bold;
    --accordion-item-title-font-size:1rem;
    --accordion-item-title-color:white;
    --accordion-item-title-background:rgb(194, 168, 66);
    --accordion-item-title-hover-background:rgb(189, 173, 111);
    
    --accordion-item-separator-color:rgb(115, 115, 93);

}